######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT. See docs/Slicers.md for more information on using these macros.

[include KAMP_Settings.cfg]

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(55)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(210)|float %}
    # Use absolute coordinates
    G90
    # Home the printer
    G28
    # Reset extruder 

    # Auto Bed Leveling
    BED_MESH_CALIBRATE ADAPTIVE=1
    G1 X245 Z50 F240
    M190 S{BED_TEMP}
    M109 S240
    M109 S{EXTRUDER_TEMP}
    G92 E0
    M83 ; use relative distances for extrusion

    M106 S0
    LINE_PURGE

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    # Retract and raise Z
    G1 Z0.2 E-2 F2400
    # Wipe out
    G1 X5 Y5 F3000
    # Raise Z more
    G1 Z10
    # Absolute positionning
    G90
    # Present print
    G1 X0 Y235
    # Disable steppers
    M84
    # Print message on LCD
    M117 That's All Folks
    SET_PIN PIN=power_detect VALUE=0
    {action_call_remote_method("shutdown_machine")}